* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --small-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

body {
    height: 100vh;
}

svg {
    width: 1.5rem;
}

.options-sidebar svg {
    width: 2rem;
    fill: white;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.options-sidebar {
    background-color: #3b82f6;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.options1,
.options2 {
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard,
.options1 > div,
.options2 > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.dashboard {
    font-size: 1.7rem;
    font-weight: 900;
    gap: 10px;
}

.options-sidebar .dashboard > svg {
    width: 3.5rem;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 50px 10px 30px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    gap: 15px;
}

.search-bar-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#search-bar {
    background-color: #e0e0e0;
    width: 40vw;
    height: 1.8rem;
    border-radius: 15px;
}

.header > .row1 {
    display: flex;
    gap: 180px;
}

.profile-container {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
}

.header > .row2 {
    display: flex;
    gap: 280px;
    align-items: center;
}

.welcome-container {
    display: flex;
    width: 30vw;
    gap: 15px;
}

.welcome-container > svg#cat {
    width: 3.8rem;
    height: auto;
}

.welcome-msg {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

.buttons-container {
    display: flex;
    gap: 20px;
    box-shadow: none;
}

.buttons-container > div {
    background-color: #3b82f6;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
}


.content {
    background-color: #e0e0e0;
    display: flex;
    padding: 30px 15px 40px 15px;
    column-gap: 20px;
}

.card-container {
    height: 100%;
    width: 75%;
    display: grid;

    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rem 1fr 1fr 1fr;
}

.card-container > h3 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

.card {
    background-color: white;
    padding: 40px 15px 10px 15px;
    border-radius: 5px;
    box-shadow: var(--small-box-shadow);
    display: grid;
    border-left: 8px solid orange;
}

.card > p {
    color:#5e5e5e;
}

.actions {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    gap: 15px;
}

.content .sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.announcements-container > h2,
.trending-container > h2 {
    margin-bottom: 10px;
}

.announcements > div {
    padding: 10px 0;
    border-bottom: 2px solid #5e5e5e;
}

.announcement:last-child {
    border-bottom: none;
}

.announcements-container,
.trending-container {
    font-size: 0.8rem;
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: var(--small-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar h3 {
    margin-bottom: -30px;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending-user-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending-user > .username {
    font-weight: 500;
}

.announcement > p,
.trending-user > .user-project {
    color:#5e5e5e;
}

.trending-container svg,
#cat {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%;
}

#emoji-tongue {
    fill: gold;
    background-color: royalblue;
}

#cat {
    fill: grey;
    background-color: orange;
}

#paw {
    fill: brown;
    background-color: lightsalmon;
}

#bat {
    background-color: lightgrey;
}

